@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-background: #f0f0f0; /* Light mode background color for boxes */
  --dark-background: #2c2c2c; /* Dark mode background color for boxes */
  --button-bg: #ffffff; /* Light mode button background */
  --button-text: #000000; /* Light mode button text */
  --button-outline: #f0f0f0; /* Light mode button outline */
  --button-hover-bg: #e0e0e0; /* Light mode button hover background */
  --table-bg: #fafafa; /* Lighter table background color */
  --table-text: var(--foreground); /* Table text same as page text */
  --table-cell-bg: var(--button-bg); /* Cell background color same as button background color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --light-background: #2c2c2c; /* Dark mode background color for boxes */
    --dark-background: #1a1a1a; /* Darker background color for boxes */
    --button-bg: #333333; /* Dark mode button background */
    --button-text: #ffffff; /* Dark mode button text */
    --button-hover-bg: #444444; /* Dark mode button hover background */
    --table-bg: #1f1f1f; /* Slightly darker grey table background color */
    --table-text: var(--foreground); /* Table text same as page text */
    --table-cell-bg: var(--button-bg); /* Cell background color same as button background color */
  }

  .page-link {
    font-size: 2rem; /* Increase the size of the arrows */
    color: yellow; /* Set the color to yellow */
    text-shadow: 0 0 5px yellow; /* Add a glowing effect */
    margin: 2 2px;
  }

  .page-link:hover {
    color: yellow; /* Ensure the color stays yellow on hover */
    text-shadow: 0 0 10px yellow; /* Increase the glow on hover */
  }

  .page-item.disabled .page-link {
    color: grey; /* Change color for disabled state */
    text-shadow: none; /* Remove glow for disabled state */
  }

  .scrollbar {
    scrollbar-color: #2e2e2e #0a0a0a; /* thumb and track color */
    scrollbar-width: thin;
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #1e1e1e;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-radius: 10px;
    border: 3px solid #1e1e1e;
  }

  .legend-container {
    padding-right: 20px; /* Adjust this value to increase the gap */
  }
}

@media (prefers-color-scheme: light) {
  
  .page-link {
    font-size: 2rem; /* Increase the size of the arrows */
    color: black; /* Set the color to yellow */
    text-shadow: 0 0 5px yellow; /* Add a glowing effect */
    margin: 2 2px;
  }

  .page-link:hover {
    color: black; /* Ensure the color stays yellow on hover */
    text-shadow: 0 0 10px yellow; /* Increase the glow on hover */
  }

  .page-item.disabled .page-link {
    color: grey; /* Change color for disabled state */
    text-shadow: none; /* Remove glow for disabled state */
  }

  .scrollbar {
    scrollbar-color: #f0f0f0 #ffffff; /* thumb and track color */
    scrollbar-width: thin;
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #1e1e1e;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #2e2e2e;
    border-radius: 10px;
    border: 3px solid #1e1e1e;
  }

  .legend-container {
    padding-right: 20px; /* Adjust this value to increase the gap */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-light-background {
    background-color: var(--light-background);
  }
  .bg-dark-background {
    background-color: var(--dark-background);
  }
  .bg-table {
    background-color: var(--table-bg);
  }
  .text-table {
    color: var(--table-text);
    font-size: 13px;
  }
  .rounded-cell {
    background-color: var(--table-cell-bg);
    border-radius: 8px; /* Adjust the radius as needed */
    padding: 8px; /* Adjust the padding as needed */
    border: none; /* Ensure no borders */
    box-shadow: none; /* Ensure no box shadows */
  }
  .button-outline {
    border: 2px solid var(--button-outline); /* Define the outline */
    background-color: var(--button-bg); /* Ensure the background color is set */
    color: var(--button-text); /* Ensure the text color is set */
    padding: 8px 16px; /* Adjust padding as needed */
    border-radius: 4px; /* Adjust border radius as needed */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  }
  .button-outline:hover {
    background-color: var(--button-hover-bg); /* Change background on hover */
  }
}

/* Specific styles for table elements */
table.bg-table {
  background-color: var(--table-bg);
  color: var(--table-text);
  border-collapse: separate;
  border-spacing: 8px; /* Adjust the spacing as needed */
  border: none; /* Remove table border */
  padding: 2px; /* Add padding to show table background */
  border-radius: 8px; /* Add rounded corners to the table */
}

table.bg-table th,
table.bg-table td {
  background-color: var(--table-cell-bg);
  color: var(--table-text);
  border-radius: 8px; /* Adjust the radius as needed */
  padding: 8px; /* Adjust the padding as needed */
  border: none; /* Ensure no borders */
  box-shadow: none; /* Ensure no box shadows */
}

table.bg-table th {
  text-align: center; /* Align header text to the center */
  font-weight: bold; /* Make header text bold */
}

table.bg-table td {
  text-align: right; /* Align body text to the right */
}
